/* Card style */
.cards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    
    .card {
        width: 240px;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: var(--cl-primary);
        color: black;
        
        padding: 10px 15px;
        border-radius: 7px;

        position: relative;
        inset: 0;

        cursor: pointer;

        transition: all .3s ease-in-out;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 1;
            height: 100%;
            width: 100%;
            background-color: rgba(82, 82, 82, .8);
            opacity: 0;
        
            border-radius: 7px;
        
            transition: opacity .3s ease-in-out;
        }
        
        &:hover {
            transform: scale(1.05);
            &::after {
                opacity: .5;
            }
            & .icons-btn-group {
                display: inline-block;
            }
        }

        &-content {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 10; /* number of lines to show */
                    line-clamp: 10; 
            -webkit-box-orient: vertical;
            line-break: auto;
            line-height: 1.15;
        }
        &-title {
            margin-bottom: 5px;
            line-height: 1.1;
        }
        &-text {
        font-size: .9rem;
    
        }

        &-info {
            // .card-status {
            //     display: flex;
            //     justify-content: flex-start;
            //     align-items: center;
            //     gap: 5px;
    
            //     .statu {
            //         height: 20px; width: 20px;
            //         border-radius: 50%;
            //         border: 1px solid black;
            //     }
            // }
    
    
            .card-date {
            font-size: .7rem;
            opacity: .9;
            }
        }

    }



    /* the meedia quires */
    // Tablet < 1060px
    @media only screen and (max-width: 1061px) {
        margin-top: 40px;
        .card {
            width: calc(50% - 20px);
            margin-bottom: 40px;
        }

        .icons-btn-group {
            text-align: left;
            position: absolute;
            width: 100%;
            left: 50%;
            top: -18%;
            z-index: 3;
            transform: translate(-50%);
            transition: display 1s ease-in-out;
            display: inherit;
        }
    }

    // mobile < 600px
    @media only screen and (max-width: 601px) {
        .card {
            width: 100%;
        }
    }
}
