/* Card style */
.cards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    
    .card {
        width: 235px;
        height: 235px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: var(--cl-primary);
        color: black;
        
        padding: 10px 15px;
        border-radius: 7px;

        position: relative;
        inset: 0;

        cursor: pointer;

        transition: all .3s ease-in-out;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 1;
            height: 100%;
            width: 100%;
            background-color: rgb(0, 0, 0);
            opacity: 0;
        
            border-radius: 7px;
        
            transition: opacity .3s ease-in-out;
        }
        
        &:hover {
            transform: scale(1.05);
            &::after {
                opacity: .5;
            }
            & .icons-btn-group {
                display: inline-block;
            }
        }
        
        &-text {
        font-size: .9rem;
        line-height: 1.2;
        line-break: anywhere;
    
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 10; /* number of lines to show */
                line-clamp: 10; 
        -webkit-box-orient: vertical;
        }
        &-date {
        font-size: .7rem;
        opacity: .9;
        }
    }
}
