/* inputes style */
textarea {
    &.form-control {
        width: 100%;
        font-size: 1.3rem;

        &:focus, &:active, &:focus-visible {
            border: 2px solid var(--cl-primary) !important;
            outline: none;
            resize: none;
        } 
    }
}