/* inputes style */
.form-control {
    width: 100%;
    resize: none;
    
    &:focus, &:active, &:focus-visible {
        border: none;
        outline: none;
        resize: none;
    }
    &.note-title {
        font-size: 2rem;
    }

    &.note-text {
        font-size: 1.3rem;
    }
    
}