/* inputes style */
.form-control {
    width: 100%;
    resize: none;
    
    &:focus, &:active, &:focus-visible {
        border: none;
        outline: none;
        resize: none;
    }
    &.note-title {
        font-size: 2rem;
    }

    &.note-text {
        font-size: 1.3rem;
    }
    
}

.form-group {
    margin-bottom: 2rem;

    h3 {
        margin-bottom: 5px;
    }
}


/* the meedia quires */
// Tablet < 1060px
@media only screen and (max-width: 1061px) {
    .form-control {
        &.note-title {
            font-size: 1.5rem;
        }
    
        &.note-text {
            font-size: 1.1rem;
        }
        
    }
}