
/* style for the modals */
.modals {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(128, 128, 128, 0.414);
        backdrop-filter: blur(.5rem);
        z-index: 2;
    }
    
    .modal {
        height: 90vh;
        width: 800px;
        position: relative;
        inset: 0;
        z-index: 3;
        border-radius: 7px;
        background-color: var(--color-background);
        padding: 25px;
        border-radius: 7px;
        
        .form-control {
            background-color: transparent;
            border: none;
            color: var(--color-text);
            
            &:focus {
                border: none;
            }
        }
        .note-title {
            height: 10%;
        }
        .note-text {
            height: 90%;
        }

        .view-note-modal {
            padding: 25px;
        }

        .btn {
            position: absolute;
            right: 0;
            top: 0;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            transform: translateX(calc(100% + 20px));
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn-update,
        .btn-icon,
        .btn-add {
            bottom: 0;
            top: auto;
            border: none;
        }
    }

    .view-note-modal {
        height: 90vh;
        width: 800px;
        padding: 25px;
        color: black !important;
        position: relative;
        inset: 0;
        z-index: 3;
    }
}
